# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

node_modules
package-lock.json
package.json
dump.mjs
dump.txt
manager_settings.json
deps/boss_spawners_cache.json
deps/breeding_combi_cache.json
deps/cage_pals_cache.json
deps/items_cache.json
deps/monster_parameter_cache.json
deps/pal_drop_item_cache.json
temp_bp_extract
deps/partner_skill_params_cache.json
deps/monster_parameter_cache.json
