# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

node_modules
package-lock.json
package.json
dump.mjs
dump.txt
manager_settings.json
deps/active_skills_cache.json
deps/coop_passives_cache.json
pal_names_map.json
deps/monster_parameter_cache.json
deps/passive_skills_cache.json
deps/waza_master_level_cache.json
deps/partner_skills_cache.json
deps/monster_spawners_cache.json
deps/monster_spawners_default_map.json
pal_names_map.json
