# Ignore Unreal Engine compiler cache
Intermediate/

# Ignore massive debug database files (pdb)
Binaries/**/*.pdb

# Ignore temporary Live Coding / Hot Reload binaries
Binaries/**/*-[0-9][0-9][0-9][0-9].dll
Binaries/**/*-[0-9][0-9][0-9][0-9].lib
Binaries/**/*-[0-9][0-9][0-9][0-9].exp
Binaries/**/*-[0-9][0-9][0-9][0-9].pdb